.clientsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:100vh;
  padding:100px;

  h2{
      text-transform: uppercase;
      letter-spacing: 6px;
      color:hsl(210, 4%, 67%);
  }

  .clients {
    display: flex;
    height: 100%;
    margin-top: 50px;

    .client {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      p{
           color: hsl(198, 62%, 26%);
           padding:0 20px;
           line-height: 1.5;
      }

      img {
        border-radius: 50%;
        height:20%;
      }

      &__name{
          p{
              color:hsl(210, 4%, 67%);
              font-size:13px;
              font-weight: bold;
              margin: 10px;
          }
      }
    }
  }
}
