.header {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;

  background: {
    image: url("../../images/desktop/image-header.jpg");
    repeat: no-repeat;
    size: contain;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;

    &__menu {
      display: flex;
      align-items: center;

      p {
        margin-left: 35px;
        cursor: pointer;
      }

      &--btn {
        color: black;
        background-color: white;
        padding: 8px 20px;
        border-radius: 20px;
        font-weight: bold;
        font-family: serif;
        text-transform: uppercase;
      }
    }
  }

  section{
    text-align:center;
    margin-top:60px;

    h1{
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom:50px;
        letter-spacing: 6px;
    }
  }
}
