.container--flex {
  display: flex;
  flex-direction: column;

  .egg,
  .cup,
  .fruits {
    display: flex;

    .text {
      align-self: center;
      padding: 0 80px;

      h2 {
        font-size: 35px;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 40px;
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }

    .text,
    .image,
    #cherry,
    #orange {
      flex: 1 0 200px;
    }
    .image {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

// id: cherry, orange
.fruits {
  #cherry,
  #orange {
    position: relative;
    .image {
      img {
        z-index: -1;
      }
    }
    .fruits__text {
      position: absolute;
      top: 180px;
      left: 0;
      right: 0;
      padding: 100px 130px;
      text-align: center;

      h2 {
        margin-bottom: 20px;
      }
    }
  }
}

// Global text styles:
.text,
.fruits__text {
  p {
    font-size: 18px;
    color: hsl(198, 62%, 26%);
    line-height: 1.5;
  }
}

// <a> tag styles:
.egg {
  a {
    border-bottom: 8px solid rgba(254, 212, 0, 0.4);
    border-radius: 5px;
  }
}

.cup {
  a {
    border-bottom: 8px solid rgba(255, 109, 96, 0.4);
    border-radius: 5px;
  }
}
