.container--flex {
  display: flex;
  flex-direction: column;

  .egg,
  .cup,
  .fruits {
    display: flex;
    justify-content: center;

    .text {
      align-self: center;
      padding: 0 100px;

      h2 {
        font-size: 35px;
        padding-right: 60px;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 30px;
      }
    }

    .text,
    .image,
    #cherry,
    #orange {
      flex: 1 0 200px;
    }
    .image {
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

#cherry,
#orange {
  position: relative;
  .image {
    img {
      z-index: -1;
    }
  }
  .fruits__text {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    padding: 100px 130px;
    text-align: center;

    h2 {
      margin-bottom: 20px;
    }
  }
}

.text,
.fruits__text {
  p {
    font-size: 18px;
    color: hsl(198, 62%, 26%);
    line-height: 1.5;
  }
}
