@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");
@import "navbar";
@import "header";
@import "sixFlexboxContainer";
@import 'config';
@import 'responsive';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  p {
    font-family: "Barlow", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-family: "Fraunces", serif;
  }
}
